---
import { render } from "astro:content";
import Prose from "../../components/Prose.astro";
import {
  getCollectionOrderByDate,
  getWordCount,
  titleToPinyin,
} from "../../utils/utils";
import BlogLayout from "../../layouts/BlogLayout.astro";

export const getStaticPaths = async () => {
  const blogs = await getCollectionOrderByDate("blog", ({ data }) => {
    return data.published === true;
  });
  return blogs.map((item) => ({
    params: {
      page: titleToPinyin(item.data.title),
    },
    props: {
      title: item.data.title,
      description: item.data.description,
      date: item.data.date,
      tags: item.data.tags,
      fontNum: getWordCount(item.body ? item.body : ""),
      Content: item,
    },
  }));
};

const {
  title,
  description,
  date,
  fontNum,
  Content: rawContent,
  tags,
} = Astro.props;
const { Content } = await render(rawContent);
const MIN_READ_COUNT = 350;
const readTimeMin = Math.ceil(fontNum / MIN_READ_COUNT);
---

<BlogLayout description={description} keywords={tags} title={title}>
  <div class="blog-head">
    <h1 class="title">{title}</h1>
    <p class="description">{description}</p>
    <div class="other-info">
      <p class="date"><em>{date}</em></p>
      <p class="read-time"><em>{readTimeMin}</em> 分钟 阅读</p>
    </div>
  </div>
  <article id="text">
    <Prose>
      <Content />
    </Prose>
  </article>
  <script
    src="https://giscus.app/client.js"
    data-repo="LingLambda/linglambda.github.io"
    data-repo-id="R_kgDOOOWNqQ"
    data-category="Announcements"
    data-category-id="DIC_kwDOOOWNqc4Co3Ed"
    data-mapping="pathname"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="top"
    data-theme="preferred_color_scheme"
    data-lang="zh-CN"
    crossorigin="anonymous"
    async></script>
</BlogLayout>

<style>
  em {
    font-style: normal;
  }

  .blog-head {
  }

  .other-info > * {
    line-height: 2rem;
  }

  .title {
    white-space: nowarp;
    font-size: 2rem;
  }

  .description {
    margin: 2rem 0;
    line-height: 2rem;
    font-weight: lighter;
    font-size: 1.3rem;
  }
  .other-info {
    font-size: 0.9rem;
  }

  .blog-head .description {
    color: #808080;
  }

  .blog-head .other-info p {
    color: #808080;
  }

  #text {
    margin: 3.5rem 0;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 1.5rem;
    }
    .description {
      font-size: 1rem;
      margin: 1rem 0;
    }
  }
</style>
