---
import TitleCard from "../components/TitileCard.astro";
import { getCollectionOrderByDate, getWordCount } from "../utils/utils.ts";
import BaseLayout from "../layouts/BaseLayout.astro";
const blogs = await getCollectionOrderByDate("blog", ({ data }) => {
  return data.published === true;
});
---

<BaseLayout
  description="本页面列出了所有blog页面"
  keywords="blog"
  title="文章"
  canonical=`${import.meta.env.SITE}/blog/`
>
  <div class="content-wrapper">
    {
      blogs.map(async (blog) => {
        const { title, date, description } = blog.data;
        const wordNum = getWordCount(blog.body ? blog.body : "");
        return (
          <TitleCard
            title={title}
            wordNum={wordNum}
            date={date}
            description={description}
          />
        );
      })
    }
  </div>
</BaseLayout>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
  }
</style>
