---
import type { PlayedGame } from "../utils/steamApi.ts";
import * as steamApi from "../utils/steamApi.ts";
import { Image } from "astro:assets";
import GameCard from "./GameCard.astro";

let playedGames: PlayedGame[] = await steamApi.playedGames();
let imageUrl = steamApi.chineseImageUrl("322330");
---

<div>
  <p>
    <!-- {JSON.stringify(steamInfo)} -->
  </p>
  <Image src={imageUrl} alt="dst game header" width="512" height="512" />

  {
    playedGames.map((game) => {
      const { appid, playtime_forever, img_icon_url } = game;
      const delay = (ms: number) => new Promise(res => setTimeout(res, ms));
      if(import.meta.env.ENABLE_REQUEST)delay(500);
      return (
        <GameCard
          img={img_icon_url}
          playtime={playtime_forever}
          appid={appid}
        />
      );
    })
  }
</div>

<style></style>
