---
import HeadMenu from "../components/HeadMenu.astro";
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import gopherImage from "../assets/pilot-bust.svg";
import { Image } from "astro:assets";
import BaseHead from "../heads/BaseHead.astro";
const { description, keywords, title, canonical, ogType } = Astro.props;
---

<html lang="zh">
  <head>
    <BaseHead description={description} keywords={keywords} />
    <ClientRouter />
    {canonical ? <link rel="canonical" href={canonical} /> : ""}
    <!-- og -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/icon/favicon.svg" />
    {canonical ? <meta property="og:url" content={canonical} /> : ""}
    <meta property="og:type" content={ogType ? ogType : "website"} />
    <!-- twitter cards -->
    <meta name="twitter:card" content=`Ling的小窝 - ${title}` />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="/icon/favicon.svg" />
    <title>Ling的小窝{title ? ` - ${title}` : ""}</title>
  </head>
  <body>
    <div id="container">
      <header id="menu">
        <HeadMenu />
      </header>
      <main>
        <slot>暂时还没有内容哦</slot>
      </main>
      <!-- <hr style="width:600px;color:#808080; margin-top: 1rem;" /> -->
      <footer>
        <Image
          class="gopher"
          src={gopherImage}
          height="32"
          alt="gopher"
          title="这个博客和 Golang 没有任何关系，但是土拨鼠很可爱"
          loading="eager"
        />
        <!-- <Image src={notByAi} alt="not-by-ai" /> -->
        <p>&copy; 2024-2025</p>
        <p>LingLambda</p>
        <p>
          <a
            href="https://icp.gov.moe/?keyword=20251154"
            target="_blank"
            class="footer-link">萌ICP备20251154号</a
          >
        </p>
        <p>
          本站使用 <a href="https://astro.build" class="footer-link">Astro</a> 编写
        </p>
      </footer>
    </div>
  </body>
</html>

<script>
  const menu = document.getElementById("menu");
  if (menu instanceof HTMLElement) {
    let lastScrollTop = 0;
    addEventListener(
      "scroll",
      () => {
        const scrollTop = window.scrollY;
        menu.style.top = scrollTop > lastScrollTop ? "-5.5rem" : "0.2rem";
        lastScrollTop = scrollTop;
      },
      { passive: true }
    );
  }

  const title = document.title;

  let seconds = 10;
  let timer: NodeJS.Timeout | null;
  let isPaused = true;
  let countdown = `${seconds}`;
  const boom = Math.random() < 0.8 ? "爆炸了！！！" : "熄火了...";

  const start = () => {
    timer = setInterval(() => {
      if (!isPaused && seconds > 0) {
        seconds--;
        countdown = `${seconds}`;
        document.title = "还有" + countdown + "秒爆炸！！";
      }
      if (seconds === 0 && timer) {
        clearInterval(timer);
        timer = null;
        document.title = boom;
      }
    }, 1000);
  };
  const pause = () => {
    isPaused = true;
  };
  const resume = () => {
    if (seconds > 0 && isPaused) {
      isPaused = false;
    }
  };

  start();
  document.addEventListener("visibilitychange", () => {
    if (document.hidden) {
      if (timer) {
        resume();
      } else {
        document.title = boom;
      }
    } else {
      if (timer) {
        pause();
      }
      document.title = title;
    }
  });
</script>

<style>
  * {
    box-sizing: border-box; /* 确保所有元素的宽高包含 padding 和 border */
  }

  main {
    width: 100%;
    max-width: 43rem;
    flex-grow: 1; /* 使 main 占据剩余空间 */
    font-size: 1rem;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
    padding: 0.25rem 2rem;
  }
  html {
    background-color: var(--bg-color);
    /* scrollbar-gutter: stable; */ /* 防止滚动条导致页面宽度不一致 */
    overflow-y: scroll; /*总是显示滚动条*/
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%; /* 确保body和html占满全屏 */
    margin: 0;
  }

  #menu {
    top: 0.2rem;
    position: sticky;
    transition: top 0.2s ease-in-out;
    margin: 2rem;
  }

  #container {
    height: fit-content; /*限制最大高度不超过父容器*/
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-link {
    text-decoration: none;
    color: var(--footer-text-color);
  }

  .footer-link:hover {
    border-bottom: 1px solid black;
    color: black;
  }

  footer {
    margin-top: 2.1rem;
    border-top: 1px solid var(--footer-border-top-color); /* 顶部边框线 */
    height: auto; /* 让 footer 根据内容自适应高度 */
    width: 100%;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap; /*允许换行*/
  }

  footer > * {
    margin: 0.3rem;
  }

  h1 {
    font-size: 2rem;
  }

  img {
    max-width: 36rem;
  }

  .gopher {
    align-self: flex-end;
    transition: transform 10s;
  }

  .gopher:hover {
    transform: rotate(36000deg);
  }

  @media (max-width: 768px) {
    main {
      padding: 0.25rem 0;
    }
  }
</style>
